<!DOCTYPE html>
<html>
<head>
    <title>Defect Detection Results</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <header class="title-banner">
        Defect Detection Results
    </header>

    <!-- Defect Detection Result Section -->
    <div class="container">
        <div id="defect-section">
            <div class="result defect-image" id="defect-result">
                {% if result %}
                <img src="data:image/png;base64,{{ result }}" alt="Defect Detected" style="max-width: 100%;">
                {% else %}
                <p>No defects detected</p>
                {% endif %}
            </div>
        </div>
    </div>

    <a href="defect_detection" class="previous">&laquo; Previous</a>

</body>
</html>
