<!DOCTYPE html>
<html>
<head>
    <title>Failure Prediction</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        html, body {
            height: 100%;
        }

        .container {
            width: 90%; /* Increased width */
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            text-align: center;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="title">Failure Prediction<img src="/static/images/failure.png" alt="failure icon" style="width: 100px; height:100px;"></div>
    <form id="ml-form">
        <div class="row">
            <div class="col">
                <label for="udi">UDI:</label>
                <input type="text" id="udi" name="UDI" required value="161">
                <label for="product-id">Product ID:</label>
                <input type="text" id="product-id" name="Product ID" required value="L47340">
                <label for="type">Type:</label>
                <select id="type" name="Type" required>
                    <option value="L" selected>L</option>
                    <option value="M">M</option>
                    <option value="S">S</option>
                </select>
            </div>
            <div class="col">
                <label for="air-temperature">Air Temperature (K):</label>
                <input type="number" id="air-temperature" name="Air temperature [K]" required value="298.4">
                <label for="process-temperature">Process Temperature (K):</label>
                <input type="number" id="process-temperature" name="Process temperature [K]" required value="308.2">
                <label for="rotational-speed">Rotational Speed (rpm):</label>
                <input type="number" id="rotational-speed" name="Rotational speed [rpm]" required value="1282">
                <label for="torque">Torque (Nm):</label>
                <input type="number" id="torque" name="Torque [Nm]" required value="60.7">
                <label for="tool-wear">Tool Wear (min):</label>
                <input type="number" id="tool-wear" name="Tool wear [min]" required value="216">
            </div>
        </div>
        <input type="submit" value="Predict">
    </form>
    <div id="prediction-popup" class="popup">
        <div class="popup-content">
            <!-- Close button -->
            <span class="close" onclick="togglePopup()">&times;</span>
            <div class="result" id="prediction-result" >
                {% if prediction %}
                    <div class = "pred" >Prediction : </div><br>
                    <p class="prediction"> {{ prediction.prediction }}</p>
                {% else %}
                    <p class="error">An error occurred. Please try again later.</p>
                {% endif %}
            </div>
        </div>
    </div>
    
</div>
<a href="/" class="previous">&laquo; Previous</a>
<script>
    // Function to toggle the display of the popup
    function togglePopup() {
        var popup = document.getElementById("prediction-popup");
        if (popup.style.display === "none") {
            popup.style.display = "block";
        } else {
            popup.style.display = "none";
        }
    }

    document.getElementById("ml-form").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent form submission
        // Get form data
        var formData = {
            "UDI": document.getElementById("udi").value,
            "Product ID": document.getElementById("product-id").value,
            "Type": document.getElementById("type").value,
            "Air temperature [K]": parseFloat(document.getElementById("air-temperature").value),
            "Process temperature [K]": parseFloat(document.getElementById("process-temperature").value),
            "Rotational speed [rpm]": parseInt(document.getElementById("rotational-speed").value),
            "Torque [Nm]": parseFloat(document.getElementById("torque").value),
            "Tool wear [min]": parseInt(document.getElementById("tool-wear").value)
        };
        // Send POST request to ML model endpoint
        fetch("/failure", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            // Display prediction result
            var predictionResult = document.getElementById("prediction-result");
            predictionResult.textContent = "Prediction: " + data.prediction;
            
            // Show the popup
            togglePopup();
        })
        .catch(error => {
            console.error("Error:", error);
            // Display error message
            var predictionResult = document.getElementById("prediction-result");
            predictionResult.textContent = "An error occurred. Please try again later.";
            predictionResult.style.color = "black"; // Reset color to default
            
            // Show the popup
            togglePopup();
        });
    });
</script>



</body>
</html>
